# Java related
target/**
*.jar
*.war
*.ear
*.class
*.log

# eclipse specific
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
screenshots/**
test-output/**

# Locally stored "Eclipse launch configurations"
*.launch