# Java related
target/**
*.jar
*.war
*.ear
*.class

# eclipse specific
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
screenshots/**

# Locally stored "Eclipse launch configurations"
*.launch